[submodule "OCA/wms"]
	path = OCA/wms
	url = git@github.com:OCA/wms.git
	branch = 14.0-ocabot-merge-pr-177-by-simahawk-bump-nobump

[submodule "OCA/stock-logistics-warehouse"]
	path = OCA/stock-logistics-warehouse
	url = git@github.com:OCA/stock-logistics-warehouse.git
	branch = 14.0
